discord.py==2.4.0
Flask==2.3.2
audioop-lts
dotenv
PyNaCl
requests
gunicorn
typing
google-genai
aiohttp
httplib2
oauth2client
google

datetime
schedule
apiclient
asyncio

google-api-core==2.25.1
google-api-python-client==2.187.0
googleapis-common-protos==1.70.0

